*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main { 
    width: 100%; 
    min-height: 100vh; 
    padding-bottom: 50px; 
    background-image: url(https://images.unsplash.com/photo-1615914143778-1a1a6e50c5dd?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bm90ZSUyMHRha2luZ3xlbnwwfHwwfHx8MA%3D%3D);
    display: flex; 
    flex-wrap: wrap;
    background-repeat: no-repeat; 
    background-size: cover;
} 
  
#addBtn { 
    position: fixed; 
    left: 18px; 
    top: 10px; 
    background-color: #2d3436; 
    color: white; 
    padding: 10px; 
    border: 0; 
    outline: 0; 
    border-radius: 5px; 
} 
  
.btn { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #505f5f; 
    margin-top: 0px; 
} 
  
.note { 
    width: 380px; 
    height: 260px; 
    background-color: rgb(46, 117, 91); 
    margin: 15px; 
    margin-top: 55px; 
    border-radius: 10px; 
    margin-left: 20px; 
    margin-bottom: 30px; 
} 
  
.icons { 
    width: 100%; 
    background-color: #96c0cc; 
    color: white; 
    padding: 5px; 
    display: flex; 
    justify-content: start; 
    border-radius: 10px 10px 0px 0px; 
} 
  
.icons i { 
    padding: 5px; 
    cursor: pointer; 
} 
  
.note textarea { 
    border: none; 
    width: 100%; 
    height: 87%; 
    resize: none; 
    padding: 10px; 
    font-size: 18px; 
    border-radius: 15px; 
    background-color: beige; 
    border-radius: 0px 0px 10px 10px; 
} 
  
.title-div textarea { 
    border-radius: 0px 0px 0px 0px; 
    margin-bottom: -4px; 
    background-color: #a4cad4; 
    font-weight: bolder; 
    font-size: x-large; 
} 
  
.heading { 
    position: fixed; 
    margin-top: 46px; 
    color: ivory; 
} 
  
.note textarea:focus { 
    border: 0; 
    outline: 0; 
}